<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Portal de Salud - Nuestros profesionales</title>
 <link rel="stylesheet" href="./css/styles.css">
 <link rel="preconnect" href="https://fonts.googleapis.com">
 <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
 <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
<link rel="icon" type="image/x-icon" href="../images/logo.png">
  <link rel="stylesheet" href="../css/styles.css">
</head>
<body>
  <header>
    <h1><img src="../images/logo.png" style="width:10%"> Portal de Salud</h1>
    <nav>
      <ul>
        <li><a href="../index.html">Inicio</a></li>
        <li><a href="./servicios.html">Servicios</a></li>
        <li><a href="./profesionales.html">Profesionales</a></li>
        <li><a href="./contacto.html">Contacto</a></li>
      </ul>
    </nav>
  </header>

  <main>
    <section>
      <h2>Alumnos Comisión #24152 - GRUPO 2</h2>
      <ul>
        <li>Fernández Barán Fabricio Ezequiel</li>
        <li>Leguizamon Silvina</li>
        <li>Rene María Celeste</li>
        <li>Quintero Rodriguez Javier</li>
        <li>Dra. Laura Martínez</li>
      </ul>
    </section>
  </main>

  <footer>
    <p>&copy; 2024 Portal de Salud. Todos los derechos reservados.</p>
  </footer>
</body>
</html>
